<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Artigo</title>
  </head>
  <body>
    <noscript>
      Este site não funciona sem JavaScript. Habilite-o para poder usufruir desta bela experiência.
    </noscript>
    <div id="app"></div>
  </body>
</html>
