@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif/PTSerif-Italic.woff2') format('woff2'),
      url('./fonts/PTSerif/PTSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif/PTSerif-Bold.woff2') format('woff2'),
      url('./fonts/PTSerif/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif/PTSerif-BoldItalic.woff2') format('woff2'),
      url('./fonts/PTSerif/PTSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif/PTSerif-Regular.woff2') format('woff2'),
      url('./fonts/PTSerif/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

