@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

// :root {
//   --color-primary: #004690;
//   --color-secondary: #ab8d47;
// }

html,
body,
#app {
  height: 100%;
}

body {
  @apply font-serif;
}