<template>
  <div
    class="h-full max-w-screen-sm mx-auto py-8 flex flex-col justify-center items-center"
    v-if="hasError"
  >
    <div class="font-bold text-2xl uppercase text-red-700 mb-4">Olha! Um erro...</div>
    <div class="text-xl mb-8">{{ errorMessage }}</div>
    <!-- <div class="mb-8">¯\_(ツ)_/¯</div> -->
    <router-link
      :to="{ name: 'Home'}"
      class="inline-block bg-gray-700 text-white rounded uppercase font-bold px-4 py-2 ml-4 curson-pointer"
    >
      Tentar de novo
    </router-link>
  </div>
  <div class="h-full" v-if="!hasError && isLoading">
    <div class="container mx-auto h-full flex flex-col justify-center items-center">
      <div class="text-lg">A carregar...</div>
    </div>
  </div>
  <div
    class="article max-w-screen-sm mx-auto py-8"
    v-if="!hasError && !isLoading"
  >
    <router-link
      :to="{ name: 'Home'}"
      class="inline-block uppercase curson-pointer text-blue-600 underline mb-8"
    >
      Ver outro artigo
    </router-link>
    <article
      class="text-xl"
      v-html="articleHtml"
    ></article>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useSources } from "@/providers/sources/mod";
import { fetchArticle, isValidHttpUrl } from "@/providers/request";

export default defineComponent({
  name: "Article",
  setup() {
    const route = useRoute();
    const router = useRouter();
    const {
      hasUrlSource,
      getParsedArticle,
    } = useSources();

    const isLoading = ref(true);
    const hasError = ref(false);
    const errorMessage = ref("");
    const articleHtml = ref("");
    const urlStr = decodeURIComponent(route.params.url as string);

    if(!isValidHttpUrl(urlStr)) {
      hasError.value = true;
      errorMessage.value = "Este URL é um bocado esquesito! Corrige lá isso sff.";
    } else {
      const url: URL = new URL(urlStr);

      if(!hasUrlSource(url)) {
        hasError.value = true;
        errorMessage.value = "Oh! Ainda não temos esse site configurado. Podes sempre sugeri-lo ao programador.";
      } else {
        fetchArticle(url)
        .then(res => {
          articleHtml.value = getParsedArticle(url, res as string);
          isLoading.value = false;
        })
        .catch(err => {
          console.error(err);
          hasError.value = true;
          errorMessage.value = "Pois... houve aqui qualquer coisa que não correu bem. Has-de perguntar ao programador, se o vires por aí.";
        });
      }
    }

    return {
      isLoading,
      hasError,
      errorMessage,
      articleHtml,
    }
  }
});
</script>