<template>
  <div class="home h-full flex flex-col justify-center">
    <form class="container mx-auto py-2 flex flex-row" @submit.prevent="submit">
      <input
        type="url"
        v-model="inputUrl"
        placeholder="URL do artigo..." 
        class="flex-1 border-2 border-gray-300 rounded px-4 py-2"
        @input="inputUrlChangeHandler"
        required
      />
      <button
        type="button"
        class="bg-gray-700 text-white rounded uppercase font-bold px-4 py-2 ml-4 disabled:opacity-50"
        v-if="canPaste"
        @click="pasteAndGo"
      >
        Paste&nbsp;&amp;&nbsp;Go
      </button>
      <button
        type="submit"
        class="bg-gray-700 text-white rounded uppercase font-bold px-4 py-2 ml-4 disabled:opacity-50"
        :disabled="!isInputUrlValid"
        v-else
      >
        Go
      </button>
    </form>
    <div class="container mx-auto h-2">
      <div class="h-4 px-5 text-red-700" v-text="errorMessage"/>
    </div>

  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useRouter } from "vue-router";
import { useSources } from "@/providers/sources/mod";

export default defineComponent({
  name: "Home",
  setup() {
    const router = useRouter();
    const { hasUrlSource } = useSources();

    const inputUrl = ref("");
    const isInputUrlValid = ref(false);
    const errorMessage = ref("");
    const pasteDenied = ref(false);

    const canPaste = computed(() => {
      return inputUrl.value === ""
        && navigator.clipboard.readText
        && !pasteDenied.value;
    });

    const validateInputUrl = () => {
      try {
        const url = new URL(inputUrl.value);
        const isValid = hasUrlSource(url);
        isInputUrlValid.value = isValid;
        if(!isValid) {
          errorMessage.value = "Oh! Ainda não temos esse site configurado. Podes sempre sugeri-lo ao programador.";
          return false;
        } else {
          errorMessage.value = "";
          return true;  
        }
      } catch(err) {
        isInputUrlValid.value = false;
        errorMessage.value = "Este URL é um bocado esquesito! Corrige lá isso sff.";
        return false;
      }
    }
    
    const inputUrlChangeHandler = () => {
      if(inputUrl.value === "") {
        errorMessage.value = "";
        isInputUrlValid.value = false;
      } else {
        validateInputUrl();
      }
    }

    const submit = () => {
      const url = encodeURIComponent(inputUrl.value as string);
      router.push({ name: 'Article', params: { url } });
    }

    const pasteAndGo = () => {
      navigator.clipboard.readText()
      .then(text => {
        inputUrl.value = text;
        if(validateInputUrl()) {
          setTimeout(submit, 500);
        };
      })
      .catch(err => {
        pasteDenied.value = true;
      });
    }

    const permissionName = "clipboard-read" as PermissionName;
    navigator.permissions.query({name: permissionName})
    .then(res => {
      if (res.state === "denied") pasteDenied.value = true;
    });

    return {
      inputUrl,
      inputUrlChangeHandler,
      isInputUrlValid,
      errorMessage,
      canPaste,
      submit,
      pasteAndGo,
    }
  }
});
</script>
